flows.json
[
    {
        "id": "dbfc3e1c25b77dce",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82b19f77ca3e5e9c",
        "type": "group",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "d143b0df087d1171"
        ],
        "x": 914,
        "y": 299,
        "w": 212,
        "h": 82
    },
    {
        "id": "d143b0df087d1171",
        "type": "mysql",
        "z": "dbfc3e1c25b77dce",
        "g": "82b19f77ca3e5e9c",
        "mydb": "0d9c2edbc6857968",
        "name": "labisfacompis",
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "59a4ab426584d92d",
                "982468b13a9f2aad",
                "73a1c76e5f96479c",
                "b25c22bb5479a509",
                "8783469180b243cc",
                "0b396cd776adf32c"
            ]
        ]
    },
    {
        "id": "8d5b63fc28f62665",
        "type": "ui_gauge",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "group": "d42de104e35cca84",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "umi",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#494641",
            "#03bfa9",
            "#0091ff"
        ],
        "seg1": "50",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1590,
        "y": 420,
        "wires": []
    },
    {
        "id": "59a4ab426584d92d",
        "type": "function",
        "z": "dbfc3e1c25b77dce",
        "name": "umi",
        "func": "msg.payload = msg.payload[0].umidade;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 440,
        "wires": [
            [
                "8d5b63fc28f62665",
                "89c8fba661037bd3",
                "68586e84983dded1"
            ]
        ]
    },
    {
        "id": "89c8fba661037bd3",
        "type": "debug",
        "z": "dbfc3e1c25b77dce",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 480,
        "wires": []
    },
    {
        "id": "5a2990d39a473d2b",
        "type": "ui_chart",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "group": "2b45f089c2d35363",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#c32c2c",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1630,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "982468b13a9f2aad",
        "type": "function",
        "z": "dbfc3e1c25b77dce",
        "name": "temp",
        "func": "msg.payload = msg.payload[0].tempCelsius;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 180,
        "wires": [
            [
                "5a2990d39a473d2b",
                "9c76d85e30da6e3e"
            ]
        ]
    },
    {
        "id": "9c02fa59033711eb",
        "type": "inject",
        "z": "dbfc3e1c25b77dce",
        "name": "all",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT idData, usuario, idSensor, tempCelsius, umidade, dataHora FROM dadosTU WHERE idSensor=27 order by 1 desc limit 1;",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "d143b0df087d1171"
            ]
        ]
    },
    {
        "id": "73a1c76e5f96479c",
        "type": "debug",
        "z": "dbfc3e1c25b77dce",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 100,
        "wires": []
    },
    {
        "id": "68586e84983dded1",
        "type": "ui_chart",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "group": "d42de104e35cca84",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "umi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1610,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9c76d85e30da6e3e",
        "type": "ui_gauge",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "group": "2b45f089c2d35363",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "temp",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1630,
        "y": 160,
        "wires": []
    },
    {
        "id": "8783469180b243cc",
        "type": "ui_toast",
        "z": "dbfc3e1c25b77dce",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "b25c22bb5479a509",
        "type": "function",
        "z": "dbfc3e1c25b77dce",
        "name": "data?",
        "func": "msg.payload = msg.payload[0].dataHora;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 620,
        "wires": [
            [
                "7b8485ebe9771238",
                "3f08c1cff2c05f88",
                "b23a3b9c0f66359c",
                "e84f273e41a67929",
                "ea546971b135ce54"
            ]
        ]
    },
    {
        "id": "7b8485ebe9771238",
        "type": "ui_chart",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "group": "c0f20c4b34cdb08d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "dataHora",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1620,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "3f08c1cff2c05f88",
        "type": "ui_chart",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "group": "c0f20c4b34cdb08d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "dataHora",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1620,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b23a3b9c0f66359c",
        "type": "debug",
        "z": "dbfc3e1c25b77dce",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 740,
        "wires": []
    },
    {
        "id": "ea546971b135ce54",
        "type": "ui_audio",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "group": "c0f20c4b34cdb08d",
        "voice": "Google US English",
        "always": true,
        "x": 1620,
        "y": 860,
        "wires": []
    },
    {
        "id": "e84f273e41a67929",
        "type": "ui_text",
        "z": "dbfc3e1c25b77dce",
        "group": "c0f20c4b34cdb08d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "dataHora",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 800,
        "wires": []
    },
    {
        "id": "f937a0ddf0b4e9bb",
        "type": "telegram sender",
        "z": "dbfc3e1c25b77dce",
        "name": "telegramBot",
        "bot": "7347f8205950cac6",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1650,
        "y": 300,
        "wires": [
            [
                "504f37e4dc8dbf08"
            ]
        ]
    },
    {
        "id": "0eb40ef313f4ea56",
        "type": "telegram receiver",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "bot": "7347f8205950cac6",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 1690,
        "y": 220,
        "wires": [
            [],
            [
                "b36ac5ad50276311"
            ]
        ]
    },
    {
        "id": "504f37e4dc8dbf08",
        "type": "debug",
        "z": "dbfc3e1c25b77dce",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 280,
        "wires": []
    },
    {
        "id": "0b396cd776adf32c",
        "type": "function",
        "z": "dbfc3e1c25b77dce",
        "name": "tempTele",
        "func": "\nmsg.payload = {\n    content: \"🥵 TempCelsius: \" + msg.payload[0].tempCelsius.toString() +\"\\n\"+\n    \"🧿 Umidade: \" + msg.payload[0].umidade.toString() + \"\\n\" +\n    \"🪬 Data:  \" + msg.payload[0].dataHora.toString() + \"\\n\",\n    type: \"message\",\n    chatId: 1657437360\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 280,
        "wires": [
            [
                "f937a0ddf0b4e9bb"
            ]
        ]
    },
    {
        "id": "b36ac5ad50276311",
        "type": "debug",
        "z": "dbfc3e1c25b77dce",
        "name": "teleBug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 180,
        "wires": []
    },
    {
        "id": "b577b2cf74300f9c",
        "type": "switch",
        "z": "dbfc3e1c25b77dce",
        "name": "",
        "property": "",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0d9c2edbc6857968",
        "type": "MySQLdatabase",
        "name": "topicos",
        "host": "200.239.66.45",
        "port": "3306",
        "db": "topicos",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d42de104e35cca84",
        "type": "ui_group",
        "name": "umidade",
        "tab": "52e8852a8517a73e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b45f089c2d35363",
        "type": "ui_group",
        "name": "temperatura",
        "tab": "52e8852a8517a73e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0f20c4b34cdb08d",
        "type": "ui_group",
        "name": "dataHora",
        "tab": "52e8852a8517a73e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7347f8205950cac6",
        "type": "telegram bot",
        "botname": "ArduinoBot",
        "usernames": "meuArduinoBot",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "52e8852a8517a73e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]